@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {

    --cyan: #2ab2af;
    --bright-yellow: hsl(71, 73%, 54%);

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--cyan);
    letter-spacing: 0.0125rem;
}

h2 {
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: 0.0125rem;
}

p {
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
    color: #fff;
}

body>div {
    width: 90rem;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

div>section {
    width: 39.62rem;
    display: grid;

    grid-template-columns: repeat(2, 19.81rem);
    grid-template-rows: 13.56rem 16.13rem;

    background: #fff;
    border-radius: .5rem;
    box-shadow: 0 15px 30px rgba(0, 81, 171, .15);
    overflow: hidden;
}

section>* {
    width: 100%;
}

section article {
    padding: 2.5rem;
}

article.join {
    grid-column: 1/ -1;
    grid-row: 1/ span 1;
}

article.join h1 {
    margin-bottom: 2rem;
}

article.join h2 {
    margin-bottom: 1rem;
    color: var(--bright-yellow);
}

article.join p {
    margin-bottom: 1rem;
    line-height: 26px;
    color: var(--cyan);
}

article.subscription {
    background: #2AB3B1;
}

article.subscription h2 {
    margin-bottom: 2rem;
    color: #fff;
}

article.subscription p.price {
    border: 1px solid red;
}

article.subscription .price em {
    font-style: normal;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    margin-right: 1rem;
}

article.subscription .price sup {
    vertical-align: top;
    color: #95D9D8;
}

article.subscription .btn {
    border: none;
    background: var(--bright-yellow);
    color: #fff;
    width: 100%;
    margin-top: 2rem;
    padding: 1.25rem 2rem .75rem;
    font-size: 1rem;
    font-weight: 700;
}


article.subscription {}

article.subscription {}

article.why-us {
    background: #4BBFBD;
}