@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {

    --cyan: #2ab2af;
    --bright-yellow: hsl(71, 73%, 54%);

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--cyan);
    letter-spacing: 0.0125rem;
}

h2 {
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: 0.0125rem;
}

p {
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
    color: #fff;
}

body > div {
    width: 100%;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

div > section {
    width: 39.62rem;
    display: grid;
    background: green;
    grid-template-columns: repeat(2, 19.81rem);
    grid-template-rows: 13.56rem 16.13rem;

    background: #fff;
    border-radius: .5rem;
    box-shadow: 0 15px 30px rgba(0, 81, 171, .15);
    overflow: hidden;
}

section > * {
    width: 100%;
}

section article { 

    padding: 2.5rem;
}

article.join {
    grid-column: 1/ -1;
    grid-row: 1/ span 1;
}

article.join h1 {
    margin-bottom: 1.5rem;
}

article.join h2 {
    margin-bottom: .5rem;
    color: var(--bright-yellow);
}

article.join p {
    margin-bottom: 1rem;
    line-height: 26px;
    color: var(--cyan);
}

article.subscription {
    background: #2AB3B1;
}

article.subscription h2 {
    margin-bottom: 2rem;
    color: #fff;
}
article.subscription p:not(.price){
    width: 100%;
    font-size: .96rem;
}
article.subscription p.price {
    
}

article.subscription .price em {
    font-style: normal;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    margin-right: 1rem;
}

article.subscription .price sup {
    vertical-align: top;
    color: #95D9D8;
}

article.subscription .btn {
    display: block;
    border: none;
    background: var(--bright-yellow);
    color: #fff;
    width: 100%;
    margin-top: 2rem;
    padding: 1rem 2rem .75rem;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 5px;
}


article.subscription {}

article.subscription {}

article.why-us {
    background: #4BBFBD;
}
article.why-us h2{
    color: #fff;
    margin-bottom: 1.56rem;
}
article.why-us p{

}

@media screen and (max-width: 600px){
    div > section {
        width: 100%;
        height: 100%;
        display: grid;
        background: green;
        grid-template-columns:1fr;
        grid-template-rows: repeat(3, 1fr);
        background: #fff;
        border-radius: .5rem;
        box-shadow: 0 15px 30px rgba(0, 81, 171, .15);
        overflow: hidden;
    }
    article.join {
        height: 16.7rem;
        padding: 2.25rem 1.5rem;
    }
    article.join h1 {
        margin-bottom: 1.25rem;
    }
    
    article.join h2 {
        font-size: 0.9375rem;
        margin-bottom: .5rem;
        color: var(--bright-yellow);
    }
    
    article.join p {
        font-size: 0.875rem;
        margin-bottom: 1rem;
        line-height: 26px;
        color: var(--cyan);
    }
    article.subscription{
        width: 100%;
        height: 1000px
        padding: 2rem;
    }
    article.subscription h2 {
        font-size: 1.125rem;
        margin-bottom: 2rem;
        color: #fff;
    }
}